{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@echoSEOBundle/Resources/public/css/*' filter = 'cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@echoSEOBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}SEO Echo : résultats{% endblock %}

{% block body %}

    <div id="loader">
        <div class="cs-loader">
            <div class="cs-loader-inner">
                <label> ●</label>
                <label> ●</label>
                <label> ●</label>
                <label> ●</label>
                <label> ●</label>
                <label> ●</label>
            </div>
        </div>
    </div>

    <div id="mainResultats">
        <div id="conteneurResultatsGlobaux">
            <div class="container">
                <div id="conteneurHeader">
                    <input type="hidden" id="req" value="{{req}}"/>
                    <input type="hidden" id="url" value="{{url}}"/>

                    <div id="resultatsGlobauxTitre">
                        <h1>Résultats globaux</h1>
                    </div>

                </br>
                <div id="vosMotsCles">
                    <span>
                        <b>Recherche :</b>
                        {{req}}</span>
                </div>
                <div id="votreURL">
                    <b>Votre page :</b>
                    <a class="userURL" target="_blank" href="{{url}}">{{url}}</a>
                </div>
                <div id="positionEstimee">
                    <div id="position"></div>
                </div>
                <div id="bestURLs"></div>
                <div id="txPerf" class="graphes">
                    <div id="graphTxPerf">
                        <a class="tooltipIcon" data-tooltip="Ce graphe représente le taux de performance de nos algorithmes : plus il est proche de 100% et plus les résultats affichés sont pertinents (et inversement).">
                            {% image 'img/question-mark.png' %}
                            <img src="{{ asset_url }}" alt="Question Mark" class="img-responsive" style="opacity:0.5"/>
                            {% endimage %}
                        </a>
                    </div>
                </div>
                <div id="indiceConf" class="graphes">
                    <div id="graphIndiceConf">
                        <a class="tooltipIcon" data-tooltip="Ce graphe représente le taux de confiance que vous pouvez accorder à l'estimation de la position de votre page.">
                            {% image 'img/question-mark.png' %}
                            <img src="{{ asset_url }}" alt="Question Mark" class="img-responsive" style="opacity:0.5"/>
                            {% endimage %}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="conteneurPredicteurs">
            <div class="container">
                <div id="resultatsGlobauxTitre">
                    <h1>Résultats SEO</h1>
                </div>
                <div id="predicteurs"></div>
            </div>
        </div>

    </br>

    <div class="modificationsUtilisateur">
        <div id="buttons"></div>
        <div id="modifResults">
            <div id="divLoading"></div>
        </div>
    </div>

</br>

<p align="center">
    <a id="lienNouvelleRequete" href="{{ path('seoecho_homepage') }}"></br>
    <b>Nouvelle requête</b>
</a>
</p>

</div>
{% endblock %}
